<div class="container whole-page">
    <p>Total questions :- {{numberOfQuestions}}</p>
    <p>Number of questions Answered :- {{numberOfQueAnswered}}</p>
    <p>Number of questions Reviewed :- {{numberOfQueReviewed}}</p>
    <p>Number of questions Skipped :- {{numberOfQueSkipped}}</p>
    <p>Number of questions Correctly Answered :- {{numberOfAnswerCorrect}}</p>

    <button type="button" class="btn btn-primary" (click)="restartQuiz()">Retry entire quiz</button>
    <!-- TO DO <button type="button" class="btn btn-outline-secondary">Retry wrong questions</button> -->
</div>