<div id="btndiv">
    <div id="outer">
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn2" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button class="msgBtnBack">button</button>
        </div>
    </div>

    <div id="outer2">
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn2" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button class="msgBtnBack">button</button>
        </div>
    </div>


    <div id="outer3">
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn2" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button class="msgBtnBack">button</button>
        </div>
    </div>

    <div id="outer4">
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button type="submit" class="msgBtn2" onClick="return false;">button</button>
        </div>
        <div class="inner">
            <button class="msgBtnBack">button</button>
        </div>
    </div>
</div>