#outer {
    width: 100%;
    text-align: center;
  }
  .inner {
    display: inline-block;
  }
  #outer2 {
    width: 100%;
    text-align: center;
    padding-top: 4px;
  }
  #outer2 .inner {
    display: inline-block;
  }
  #outer3 {
    width: 100%;
    text-align: center;
    padding-top: 4px;
  }
  #outer3 .inner {
    display: inline-block;
  }
  #outer4 {
    width: 100%;
    text-align: center;
    padding-top: 4px;
  }
  #outer4 .inner {
    display: inline-block;
  }
  #btndiv {
    margin: 100px 100px 100px 100px;
  }

  .width-of-whole-grid {
    margin-left: 20px;
    width: 234px;
  }

  .grids-style {
      height: 47px;
      margin-right: 5px;
      margin-top: 5px;
      border: 1px solid black;
      cursor: pointer;
      line-height: 3;
      font-size: 17px;
  }

  .answered-grid{
    background-color: green;
    color: aliceblue;
  }

  .wrong-answered-grid{
    background-color: red;
    color: blue;
  }

  .reviewed-grid{
    background-color: yellow;
  }

  .skiped-or-unanswered-grid{
    background-color: white;
  }