<div class="width-of-whole-grid">
    <div class="row" *ngIf="qna && optionType && buttonObj">
        <div class="col-lg-2 grids-style" *ngFor="let quesnum of qna" (click)="navigateToQuestion(quesnum.id)" [ngClass]="{'answered-grid': ['correct','answered'].indexOf(statusReturn(quesnum.id)) != -1,'wrong-answered-grid': statusReturn(quesnum.id) === 'wrong','reviewed-grid': statusReturn(quesnum.id) === 'reviewed','skiped-or-unanswered-grid': ['skiped','unanswered'].indexOf(statusReturn(quesnum.id)) != -1}">{{quesnum.id}}</div>
    </div>
</div>