<div class="container">
    <p>1. first question</p>
    <form>
        <div class="radio">
            <label>
                <input type="radio" name="optradio" checked>Option 1</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Option 2</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Option 3</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Option 4</label>
        </div>

        <button type="submit" class="btn btn-primary">Review</button>

        <button type="submit" class="btn btn-primary">Skip</button>

        <button type="submit" class="btn btn-primary">Feedback</button>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <app-menu-of-questions></app-menu-of-questions>

</div>